*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding-top: 150px;
    padding-left: 27%;
    height: auto;
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
}
.main{
    min-width: 600px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.imagen{
    width: 35px
}
.title{
   margin-top: 10px;
}
.description{
    max-width: 500px;
    margin-top: 15px;
    color: #888c97;
    font-size: 14px;
    line-height: 22px;
}
.container{
    min-width: 400px;
    padding: 20px;
    margin-top: 60px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.03),
    0px 8px 12px 0px rgba(0, 0, 0, 0.08);
}
.formulario{
    display: flex;
    flex-direction: column;
}
.email{
    border: 1px solid #e5e7eb;
    height: 45px;
    border-radius: 10px;
    text-align: center;
    background-color: #f4f5f8;
}
.suscribe{
    height: 45px;
    border-radius: 10px;
    margin-top: 15px;
    background-color: #294cce;
    color: white;
}
.email {
    color: black;
}
.text{
    margin-top: 10px;
    font-size: 11px;
    color: #8d939a;
}
@media (max-width:500px) {
        body{
        padding-top: 150px;
        padding-left: 1%;
        height: auto;
        display: flex;
        align-items: center;
        font-family: 'Inter', sans-serif;
    }
    .main{
        max-width: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .description{
        max-width: 500px;
        margin-top: 15px;
        color: #888c97;
        font-size: 20px;
        line-height: 22px;
    }
    .container{
        display: block;
        width: 90%;
        padding: 20px;
        margin-top: 60px;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.03),
        0px 8px 12px 0px rgba(0, 0, 0, 0.08);
    }
    .email{
        border: 1px solid #e5e7eb;
        height: 60px;
        border-radius: 10px;
        text-align: center;
        background-color: #f4f5f8;
        font-size: 15px;
    }
    .suscribe{
        height: 60px;
        border-radius: 10px;
        margin-top: 15px;
        background-color: #294cce;
        color: white;
        font-size: 15px;
    }
    }